<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>09.00</td><td>Technical Trouble Shooting</td></tr>
      <tr><td>10.00</td><td>Onboarding & Ice Breaker</td></tr>
      <tr><td>11.00</td><td>Automatic tasks with the Unix Shell Part I</td></tr>
      <tr><td>12.30</td><td>Lunch</td></tr>
      <tr><td>13.30</td><td>Automatic tasks with the Unix Shell Part II</td></tr>
      <tr><td>15.00</td><td>Questions & Discussion</td></tr>
      <tr><td>15.30</td><td>Lightning Talks I</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>09.00</td><td>Version Control with Git & GitHub Part I</td></tr>
      <tr><td>10.30</td><td>Lightning Talks II</td></tr>
      <tr><td>11.30</td><td>Lunch</td></tr>
      <tr><td>12.30</td><td>Version Control with Git & GitHub Part II</td></tr>
      <tr><td>15.00</td><td>Questions & Discussion</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr><td>10.00</td><td>Python building block and code structure</td></tr>
      <tr><td>13.00</td><td>Lunch</td></tr>
      <tr><td>14.00</td><td>Programming with Python Part I</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr><td>09.00</td><td>Programming with Python Part II</td></tr>
      <tr><td>11.30</td><td>Questions & Discussion</td></tr>
      <tr><td>11.45</td><td>Lunch</td></tr>
      <tr><td>12.45</td><td>Programming with R Part I</td></tr>
      <tr><td>16.00</td><td>Questions & Discussion</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr><td>09.00</td><td>Programming with R Part II</td></tr>
      <tr><td>11.30</td><td>Lunch</td></tr>
      <tr><td>12.30</td><td>Programming with R Part III</td></tr>
      <tr><td>14.30</td><td>Questions & Discussion</td></tr>
    </table>
  </div>
</div>
